{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Nasze kino</title>
	<meta name="description" content="Kino internetowe">
	<meta name="keywords" content="Filmy, seriale, komedie">
	<meta name="author" content="Grupa">
	<meta http-equiv="X-Ua-Compatible" content="IE=edge">

	<link rel="stylesheet" href="{% static 'css/Strona_kino.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>

</head>

<body>

	<header>

		<nav class="navbar navbar-dark bg-nav navbar-expand-lg">

			<a class="navbar-brand" href="{% url 'main_site' %}">NASZE KINO</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="mainmenu">

				<ul class="navbar-nav mr-auto">

					<li class="nav-item active">
						<a class="nav-link" href="{% url 'main_site' %}"> Strona główna </a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#">O Nas</a>
					</li>

					<li class="nav-item">
						<a class="nav-link disabled" href="#"> Informacje </a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#"> Kontakt </a>
					</li>

				</ul>

				<div class="form-inline">

                    {% if user.is_authenticated %}
                        <h2>Zalogowany <b>{{ user.name }}</b> <a href="#">wyloguj</a></h2>
                        {% else %}
                        <h2><a class="badge badge-primary" href="{% url 'login_site' %}">Zaloguj się</a></h2> <h2><a class="badge badge-success reje" href="{% url 'rejestracja' %}">Rejestracja</a><h2>
                     {% endif %}

				</div>

			</div>

		</nav>

	</header>

    {% block content %}

    {% endblock content %}

<footer class="bg-light text-center ">
  <div class="container p-4">Still working on... </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <a class="text-dark" href="#">naszekino.com</a>
  </div>

</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>